@font-face {
  font-family: "Light";
  src: local("Light"),
  url("./fonts/SFProDisplay-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Regular";
  src: local("Regular"),
  url("./fonts/SFProDisplay-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Bold";
  src: local("Bold"),
  url("./fonts/SFProDisplay-Bold.ttf") format("truetype");
}

body {
  margin: 0;
  font-family: 'Regular', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.no-scroll{
  overflow: hidden;
}

.hidden{
  opacity: 0;
  transition: opacity .3s ease;
}


h1, h2, h3{
  font-family: 'Bold', sans-serif;
}

h1{
  font-size: 3.5rem;
}

h2{
  font-size: 2.5rem;
  margin-bottom: 30vh;
}

.container  {
  max-width: 50vw;
  padding: 100vh 20px 0;
}
