@font-face {
  font-family: "Light";
  src: local("Light"),
  url("./fonts/SFProDisplay-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Regular";
  src: local("Regular"),
  url("./fonts/SFProDisplay-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Bold";
  src: local("Bold"),
  url("./fonts/SFProDisplay-Bold.ttf") format("truetype");
}

body {
  margin: 0;
  font-family: 'Regular', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.no-scroll{
  overflow: hidden;
}

.hidden{
  opacity: 0;
  transform: translate(-50%, -20px);
  transition: opacity .3s ease, transform .3s ease;
}


h1, h2, h3{
  font-family: 'Bold', sans-serif;
}

h1{
  font-size: 64px;
  letter-spacing: -0,009em;
  @media only screen and (max-width: 768px) {
    font-size: 48px;
  }
  @media only screen and (max-width: 480px) {
    font-size: 40px;
  }
}

h2{
  font-size: 3rem;
  margin-bottom: 30vh;
}

.container  {
  max-width: 50vw;
  position: relative;
  transform: translateY(110vh);
  padding: 40vh 5vw 0;
}

.mainTitle{
  width: 50%;
  position: fixed;
  top: 50vh;
  transform: translateY(-50%);
  left: 5vw;
  opacity: 1;
  transition: opacity .7s ease, transform .7s ease-in-out;
  transition-delay: .3s;
  margin: 0;
}

.hide-text{
  opacity: 0;
  transform: translateX(-150%);
  transition: opacity .4s ease, transform .7s ease-in-out;

}
